.container {
    text-align: center;
    box-shadow: 0 0 5px black;
    border-radius: 30px;
    height: 40px;
    width: 350px;
    margin: 20px auto 10px;
    line-height: 40px;
}

.secondItem {
    margin-right: 30px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 255, 200);
}

.close {
    font-size: 22px;
    color: rgb(208, 182, 68);
    cursor: pointer;

}